AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_BUCKET_PROFILE_PATH="profile"
AWS_S3_BUCKET_THUMBNAIL_PATH="thumbnail"
AWS_S3_BUCKET_VIDEO_PATH="video"
AWS_S3_PART_SIZE_IN_MB="10"
AWS_SECRET_ACCESS_KEY=
AWS_SQS_URL=
UPLOAD_SERVICE_API_URL="http://localhost:3000"

