PORT=3000

JWT_SECRET=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plausio
FRONTEND_URL=http://localhost:5173

GOOGLE_FALLBACK_URL=http://localhost:3000/auth/google/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_S3_PART_SIZE_IN_MB=10

AWS_S3_BUCKET=plausio-s3
AWS_S3_BUCKET_VIDEO_PATH=video
AWS_S3_BUCKET_THUMBNAIL_PATH=thumbnail
AWS_S3_BUCKET_PROFILE_PATH=profile

RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_VIDEO_QUEUE_NAME=video