PORT=3000

JWT_SECRET=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plausio
FRONTEND_URL=http://localhost:5173

GOOGLE_FALLBACK_URL=http://localhost:3000/auth/google/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=