PORT=3002

JWT_SECRET=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plausio
FRONTEND_URL=http://localhost:5173

GOOGLE_FALLBACK_URL=http://localhost:3000/auth/google/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=plausio
AWS_S3_PART_SIZE_IN_MB=10
AWS_S3_BUCKET_VIDEO_PATH=videos
AWS_S3_BUCKET_THUMBNAIL_PATH=thumbnails
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_VIDEO_QUEUE_NAME=video