AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_BUCKET_PROFILE_PATH="profile"
AWS_S3_BUCKET_THUMBNAIL_PATH="thumbnail"
AWS_S3_BUCKET_VIDEO_PATH="video"
AWS_S3_PART_SIZE_IN_MB="10"
AWS_SECRET_ACCESS_KEY=
AWS_SQS_URL=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/plausio"
FRONTEND_URL="http://localhost:5173"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_FALLBACK_URL="http://localhost:3000/api/auth/google/callback"
JWT_SECRET=
VIDEO_TRANSCODE_CHUNK_SIZE_IN_SECONDS=120